################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LosowaniePaczek/obj/Debug
/LosowaniePaczek/bin/Debug
/.vs/ParcelNumberGenerator/v14/.suo
/packages
/ParcelNumberGenerator.DAL/bin/Debug
/ParcelNumberGenerator.DAL/obj/Debug
/ParcelNumberGenerator.Win/bin/Debug
/ParcelNumberGenerator.Win/obj/Debug
